@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";
@import 'antd/dist/reset.css';



.heading {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }